@charset "UTF-8";
/* CSS Document */
h1{
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

#outerSection {
	display: flex;
	flex-direction: row;
}

#innerSection1 {
	width: 50vw;
}

#innerSection2 {
	max-width: 30vw;
}

input{
	display: flex;
  	align-items: stretch;
	margin-bottom: 10px;
}