@charset "UTF-8";
/* CSS Document */

booksLibrary {
	width: 30vw;
}

books {
	display: flex;
	flex-direction: column;
	background-color:grey;
	width: 75vw;
	margin-bottom: 10px;
}

/* title {
	display: block;
	margin: 5px;
}

sub_title {
	display: block;
}

edition {
	display: block;
}

authors {
	display: block;
}

publisher {
	display: block;
}

pages {
	display: block;
}

isbn {
	display: block;
}

price {
	display: block;
} */