<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Projekt 1</title>
<link rel="stylesheet" href="../style/formular.css">
<link rel="stylesheet" href="../style/style.css">
</head>
<body>
	
	<h1>Submit details about a new book in the input fields below to register it in our library.</h1>
	
	<section id="test">
	<section id="test2">
	<form method="POST" action="/index.html">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="sub_title" placeholder="Sub title">
		<input type="text" name="edition" placeholder="Edition">
		<input type="text" name="authors" placeholder="Author(s)">
		<input type="text" name="publisher" placeholder="Publisher's name">
		<input type="number" name="year" placeholder="Publised in year">
		<input type="number" name="pages" placeholder="Pages">
		<input type="number" name="isbn" placeholder="ISBN">
		<input type="number" name="price" placeholder="Price">
		<input type="submit" value="Submit">
	</form>
	</section>

	<section id="test3">
	<div id="demo"></div>
	
	</section>

	</section>

	<script src="../script/script.js"></script>
</body>
</html>