<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Projekt 1</title>
	<link rel="stylesheet" href="formular.css">
	<link rel="stylesheet" href="style.css">
	<script type="module" src="showXML.js"></script>
</head>
<body>
	
	<h1>Welcome to our book registrations website.</h1>
	<h2>Submit details about a new book in the input fields below to register it in our library.</h2>
	
	<section id="outerSection">
	<section id="innerSection1">
	<form method="POST" action="/index">
		<input id="title" type="text" name="title" placeholder="Title">
		<input id="sub_title" type="text" name="sub_title" placeholder="Sub title">
		<input id="edition" type="text" name="edition" placeholder="Edition">
		<input id="authors" type="text" name="authors" placeholder="Author(s)">
		<input id="publisher" type="text" name="publisher" placeholder="Publisher's name">
		<input id="year" type="number" name="year" placeholder="Published in year">
		<input id="pages" type="number" name="pages" placeholder="Pages">
		<input id="isbn" type="number" name="isbn" placeholder="ISBN">
		<input id="price" type="number" name="price" placeholder="Price">
		<input type="submit" value="Submit">
	</form>
	</section>

	<section id="innerSection2">
		<h2>Books in the Library:</h2>
	</section>

	</section>

</body>
</html>